body {
    background-color: #808080;
}

/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}
  
/* Banner styles */
.banner {
    background-color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .btn {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  /* Home content styles */
  .container {
    margin: 20px;
  }
  
  /* Image styles */
  .banner img {
    max-width: 100%;
    max-height: 100%;
  }