body {
    background-color: #808080;
}

/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}
  
/* CSS for the banner */
.banner {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  .btn {
    margin-right: 10px;
  }
  
  .container {
    margin-top: 80px;
  }