body {
    background-color: #808080;
}

/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}
  
.banner {
  background-color: grey;
  height: 60px;
  padding: 10px;
  color: white;
}
  
.banner-nav {
    display: flex;
    justify-content: flex-end;
}
  
.banner-nav ul {
    list-style-type: none;
}
  
.banner-nav ul li {
    display: inline;
}
  
.banner-nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px;
}
  
.banner-nav ul li a:hover {
    background-color: #555;
}